<table>
    <thead>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
    </thead>
    <tbody>
        <% allPublishingHouses.forEach(function(publishingHouse){ %>
        <tr>
            <td> <%= publishingHouse.name %></td>
            <td> <%= publishingHouse.description %></td>
        </tr>
        <% }); %>
    </tbody>
</table>